# Raw Data Processing

In [1]:
import os
import glob
import joblib
import pathlib
import numpy as np
import pandas as pd
from numba import jit
from rich.progress import track

from typing import Dict

import sys
sys.path.append("../src")

import config

from utils.common import timer
from utils.common import load_pickle, dump_pickle, save_cache
from utils.feature import FeatureStore

## Extract data each data_type from txt file

In [2]:
src_dir = pathlib.Path("../data/raw/train/")
filepaths = [
    path_filepath 
    for site_filepath in src_dir.glob("*") 
    for floor_filepath in site_filepath.glob("*") 
    for path_filepath in floor_filepath.glob("*")
]

In [3]:
filepath = filepaths[0]

site_id = filepath.parent.parent.name
floor = filepath.parent.name
path_id = filepath.name.split(".")[0]

In [4]:
feature = FeatureStore(
    site_id=site_id, 
    floor=floor, 
    path_id=path_id, 
    input_path="../data/raw/"
)
feature.load_all_data()

In [5]:
feature.save('./tmp/test.pkl')

TypeError: save() takes 1 positional argument but 2 were given

In [6]:
# attributes of site info
[c for c in dir(feature.site_info) if c[0]!="_"]

['draw_polygon',
 'features',
 'floor',
 'floor_coordinates',
 'get_site_info',
 'input_path',
 'map_type',
 'show_site_image',
 'site_height',
 'site_id',
 'site_width',
 'store_coordinates']

In [7]:
feature.site_info.site_height, feature.site_info.site_width

(212.06273086548222, 146.74902374734265)

In [8]:
feature.site_id, feature.floor, feature.path_id

('5da138764db8ce0c98bcaa46', 'F4', '5dabfad918410e00067e70ba')

In [9]:
# attributes of feature store
for d_type in feature.df_types:
    print(d_type)
    display(feature[d_type].head())

accelerometer

       timestamp         x         y          z  accuracy
0  1571551566693 -2.201767  0.078979  11.103226         2
1  1571551566713 -2.435196 -0.066452   9.657715         2
2  1571551566733 -2.476501 -0.052094   9.203415         2
3  1571551566753 -2.560898 -0.108368   9.472763         2
4  1571551566773 -2.646484 -0.138885   9.753494         2

accelerometer_uncalibrated

       timestamp         x         y          z   x2   y2   z2  accuracy
0  1571551566693 -2.028198  0.101730  11.459961  0.0  0.0  0.0         3
1  1571551566713 -2.363373  0.041275  10.371185  0.0  0.0  0.0         3
2  1571551566733 -2.490860 -0.076035   9.227966  0.0  0.0  0.0         3
3  1571551566753 -2.508224 -0.073044   9.332108  0.0  0.0  0.0         3
4  1571551566773 -2.547729 -0.161636   9.611633  0.0  0.0  0.0         3

beacon

,timestamp,uuid,major_id,minor_id,tx_power,rssi,distance,mac_addr,timestamp2
0,1571551566648,726388c292214e8a10ee4ae58707e9972ef10261,b6589fc6ab0dc82cf12099d1c2d40ab994e8410c,5d17fd19490538517917e53daa91d76ca198a330,-59,-96,38.487306,d8bfaed2678b820e03dbadf6044cb50489546ca4,1571551566648
1,1571551566663,07efd69e3167537492f0ead89fb2779633b04949,b6589fc6ab0dc82cf12099d1c2d40ab994e8410c,e9685cf33b27028baae03480e332e453ace2abfb,-59,-61,1.274439,4e4198d4d7a0591fe48f96866c618e44529d149e,1571551566663
2,1571551566672,07efd69e3167537492f0ead89fb2779633b04949,b6589fc6ab0dc82cf12099d1c2d40ab994e8410c,78b6e7d58093116dc47562f8f18de790420a52be,-59,-96,38.487306,f04318afc2e7152a9ce8a0dc2e3a424e53cc9cd3,1571551566672
3,1571551567914,07efd69e3167537492f0ead89fb2779633b04949,b6589fc6ab0dc82cf12099d1c2d40ab994e8410c,9fa8f48b6d90959002600d2528fc31ef5e005e76,-59,-74,5.270232,6b35396ab63cf1bf0f5ba307abd620d119c5c42a,1571551567914
4,1571551569380,726388c292214e8a10ee4ae58707e9972ef10261,b6589fc6ab0dc82cf12099d1c2d40ab994e8410c,d3ec16d1868edc7da81be9fc203f819281c0e4ba,-59,-80,9.521558,3eee0b39d4d266756b2ee5eae6471fef8f034c03,1571551569380

gyroscope

       timestamp         x         y         z  accuracy
0  1571551566693  0.177216 -0.329681 -0.150436         3
1  1571551566713  0.329010 -0.111832 -0.017807         3
2  1571551566733  0.285339  0.205093  0.127609         3
3  1571551566753  0.169754  0.386719  0.215485         3
4  1571551566773  0.027542  0.324402  0.224014         3

gyroscope_uncalibrated

,timestamp,x,y,z,x2,y2,z2,accuracy
0,1571551566693,-0.047821,-0.427567,-0.200974,-0.000793,0.000122,0.000061,3
1,1571551566713,0.328217,-0.111710,-0.017746,-0.000793,0.000122,0.000061,3
2,1571551566733,0.328217,-0.111710,-0.017746,-0.000793,0.000122,0.000061,3
3,1571551566753,0.284546,0.205215,0.127670,-0.000793,0.000122,0.000061,3
4,1571551566773,0.026749,0.324524,0.224075,-0.000793,0.000122,0.000061,3

magnetic_field

       timestamp          x         y          z  accuracy
0  1571551566693  35.313416  0.903320 -27.876282         3
1  1571551566713  37.394714  0.903320 -26.535034         3
2  1571551566733  36.007690  2.290344 -27.204895         3
3  1571551566753  36.701965  0.903320 -27.204895         3
4  1571551566773  35.313416  1.596069 -27.204895         3

magnetic_field_uncalibrated

,timestamp,x,y,z,x2,y2,z2,accuracy
0,1571551566693,-6.938171,-81.86188,-363.98010,-42.251587,-82.7652,-336.10382,3
1,1571551566713,-4.856873,-81.86188,-362.63885,-42.251587,-82.7652,-336.10382,3
2,1571551566733,-6.243896,-80.47485,-363.30872,-42.251587,-82.7652,-336.10382,3
3,1571551566753,-5.549622,-81.86188,-363.30872,-42.251587,-82.7652,-336.10382,3
4,1571551566773,-6.938171,-81.16913,-363.30872,-42.251587,-82.7652,-336.10382,3

rotation_vector

       timestamp         x         y         z  accuracy
0  1571551566693 -0.033759  0.047460  0.686108         3
1  1571551566713 -0.038705  0.053961  0.685716         3
2  1571551566733 -0.045757  0.061953  0.686550         3
3  1571551566753 -0.053042  0.069828  0.688253         3
4  1571551566773 -0.060194  0.075623  0.690391         3

waypoint

       timestamp          x          y
0  1571551566576  37.889812  154.43535
1  1571551573569  27.694906  153.98010
2  1571551581118  16.998966  153.33621

wifi

,timestamp,ssid,bssid,rssi,frequency,last_seen_timestamp
0,1571551568450,64f1125cb0e5e507a7ba5c32dd76bd506f30ce94,d2b9915dc73e4d333a718f8c02edae5e2a4d94f5,-52,5785,1571551567798
1,1571551568450,b01857e452a84ace381ac545896264c61ac82a57,5db8a385607a001cae8da5f069e1005f527ae7d6,-53,2437,1571551556712
2,1571551568450,da39a3ee5e6b4b0d3255bfef95601890afd80709,4c1ab193093f7057e6678f8f12f7ac4c05b95680,-53,5785,1571551567800
3,1571551568450,da39a3ee5e6b4b0d3255bfef95601890afd80709,f20391acb21826bb8f38243de772b7f3f8301f83,-53,5785,1571551567800
4,1571551568450,da39a3ee5e6b4b0d3255bfef95601890afd80709,45708a1205fbe53ae5ced9e450e0cedccf96e05a,-54,2437,1571551566923

---

## Simple feature engineering

In [10]:
wp = feature.waypoint

In [11]:
wp_sample = wp.iloc[2]
wp_sample

timestamp    1.571552e+12
x            1.699897e+01
y            1.533362e+02
Name: 2, dtype: float64

In [12]:
# wifi feature

In [13]:
wifi = feature.wifi[feature.wifi['timestamp'] < wp_sample['timestamp']]
wifi

,timestamp,ssid,bssid,rssi,frequency,last_seen_timestamp
0,1571551568450,64f1125cb0e5e507a7ba5c32dd76bd506f30ce94,d2b9915dc73e4d333a718f8c02edae5e2a4d94f5,-52,5785,1571551567798
1,1571551568450,b01857e452a84ace381ac545896264c61ac82a57,5db8a385607a001cae8da5f069e1005f527ae7d6,-53,2437,1571551556712
2,1571551568450,da39a3ee5e6b4b0d3255bfef95601890afd80709,4c1ab193093f7057e6678f8f12f7ac4c05b95680,-53,5785,1571551567800
3,1571551568450,da39a3ee5e6b4b0d3255bfef95601890afd80709,f20391acb21826bb8f38243de772b7f3f8301f83,-53,5785,1571551567800
4,1571551568450,da39a3ee5e6b4b0d3255bfef95601890afd80709,45708a1205fbe53ae5ced9e450e0cedccf96e05a,-54,2437,1571551566923
...,...,...,...,...,...,...
395,1571551579775,61bb65531115bd583c84ba851e7b57deb66022aa,1e2103d0a8c72ac50d967f1f79bb1204ec8e64e7,-91,5745,1571551577106
396,1571551579775,da39a3ee5e6b4b0d3255bfef95601890afd80709,47dd0694af93bc8fc98706456761e87377e179c5,-91,5745,1571551577107
397,1571551579775,f2cd7f6580155aed330eddcacf5612f8d7a1d6d2,1d07247b7703060b97d1c6955992942bc2bd5146,-91,5745,1571551571407
398,1571551579775,da39a3ee5e6b4b0d3255bfef95601890afd80709,b55541fc93017501007426795597f778fe336163,-91,5745,1571551571457
399,1571551579775,da39a3ee5e6b4b0d3255bfef95601890afd80709,f20391acb21826bb8f38243de772b7f3f8301f83,-92,5785,1571551577220

In [83]:
data = np.arange(100)

In [95]:
pre_wp_ts = 10
post_wp_ts = 20

pre_flag = (pre_wp_ts < data)
psot_flag = (data < post_wp_ts)

extract_flag = pre_flag & psot_flag

data[extract_flag]

array([11, 12, 13, 14, 15, 16, 17, 18, 19])

In [105]:
#TODO: どうやってNoneをいれるか。

pre_wp_ts = 80
post_wp_ts = None

pre_flag = np.ones(len(data)).astype(bool) if pre_wp_ts==None else (pre_wp_ts < data)
psot_flag = np.ones(len(data)).astype(bool) if post_wp_ts==None else (data < post_wp_ts)

extract_flag = pre_flag & psot_flag

data[extract_flag]

array([81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
       98, 99])